#addActivity {
  text-align: center;
  margin: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
}

#LoggedInToWelcomeToActivities h1 {
  font-size: 3rem;
  margin-bottom: 50px;
}

.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.AddForm {
  background-color: #c32222;
  margin: 30px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #ccc;
  width: 600px;
  overflow: auto;
}

#AddName {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

#AddDescription,
#AddButton{
  margin-bottom: 10px;
}

.activityBox {
  margin-top: 10px;
  padding-left: 20px;
  border-left: 5px solid #ccc;
}

#activityName {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

#Description {
  margin-bottom: 5px;
}
