@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.Routines {
  border: 1px solid #f0ebeb;
  margin-top: 1em;
  padding: 1em;
}

.Container {
  display: flex;
  justify-content: center;
}

